body{
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background:url(/images/georgievskoi-lentoi-dlya-prezentatsi-32.jpg) bottom no-repeat;
background-size: cover ;

    
}

h1{
    color: rgb(226, 206, 206);
    font-size: 10rem;
    font-family: 'Times New Roman', Times, serif;
}


.copyright{
    color: cyan;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.news{
    background-color: rgb(218, 176, 176);
    padding: 50px 0 32px;
}

article{
    width: 768;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid crimson  ;
}

article a:hover{
    color: rgb(251, 255, 0);
}

article h2{
    font-family: Arial, Helvetica, sans-serif;
    margin: bottom 25px; ;
}

article-meta{
    color: brown;
    margin: bottom 5px;;
}
article img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

footer{
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links{
    margin-bottom: 50px;
}

footer .links>a{
    color: fuchsia;
    padding: 20px;
    font-size:20px ;
    font-weight:600;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: uppercase;


}
